/*TYPOGRAPHY STYLE*/

body{
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 100%;
    font-size:18px;
}


h1{
    font-size: 1.5em;
    font-family: Helvetica, Arial, sans-serif; 

}

h2{
    font-family: Helvetica, Arial, sans-serif; 
}

p{
    font-size: 0.8em; 
    font-family: Helvetica, Arial, sans-serif; 

}


.logout a{
    color: black;
    text-transform: uppercase;
    font-size: 0.75em;
}

.admin-nav li{
    color: white;
}

.menu-two{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.footer-main {
    font-size: 0.8em;
}

.footer-main p{
    font-size: 0.8em;
}

/*RESPONSIVE TYPOGRAPHY*/

body{
    font-size: 1em;
}

@media screen and (min-width: 50em){
    body{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 60em){
    body{
        font-size:1.3em; 
    }
}
