/*Body*/

.top-banner{
    background-color: white; 
    padding: .8em;
    margin: -0.5em;
    
}


.logo img{
    margin: .5em; 
    max-width: 239px; 
    max-height: 85px; 
}

.logout input {
    position: fixed;
    right: 20px;
    top: 80px;
    text-decoration: none;
    background-color: #c7b683;
    padding: 5px;
    border-radius: 12.75%;
}

.banner {
    background-color: #003947;
    margin-top:0.5em;
    padding: 2em;
    margin-right: -0.5em;
    margin-left: -0.5em;

}


.banner {
    color: white;
    text-align-last: center;
}

/*REsponsive */

/*@media screen and (min-width: ){
    
    
}*/