Body
.top-banner {
    background-color: white;
    padding: initial;
}

.banner {
    background-color: #003947;
    padding: 0.5em;
    color: white;
    text-align-last: center;
}

.logo img {
    margin: .5em;
    max-width: 239px;
    max-height: 85px;
}

.logout input {
    position: absolute;
    right: 20px;
    top: 50px;
    text-decoration: none;
    background-color: #c7b683;
    padding: 5px;
    border-radius: 12.75%;
}