/*   body style guide   */


body{
    background-color: #9daeab;  
}

.admin-nav {
    /*background-color: #4c8c3e;*/
    background-color: #9daeab; 
    padding: 5px;
    text-decoration: none;
    color: white;
    margin: 5px 2.5em 3em 2.5em;
}




/*    Administration Navigation    */


.admin-nav a {
    margin: 2.5px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    background-color: #4c8c3e;
    list-style-type: none;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    width: 100%;
}

.admin-nav input {
    /*margin: 5px;*/
    padding: 10px;
    background-color: #4c8c3e;
    list-style-type: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 15px;
    width: 200px;
}

/*tried the disply:flex; with @media screen // but it didnt work*/

.menu-options a{
    
    text-decoration: none;
    color: black;

}

.main-body{
    padding: 0.8em;
}



/*'Title' Administrative view on Landing Page*/

.admin-content-first{
    background-color: #9daeab;
    /*border-style: solid;
    border-color: white;*/ 
    padding: 0.5em;
    /*float:inherit;*/
}

.main-body{
    padding: 0.8em;
/*    float:left;*/
}


.pending-update{

/*    color:green;*/
    color:red;
    padding: .5em;

    /*position: clear;*/

}


/*RESPONSIVE DESIGN*/

@media screen and (min-width: 400px){
    
     .admin-nav{
         float: right; 
     }

     .admin-content-first{
         margin-top: 125px;
     }

    }

@media screen and (min-width: 650px){

    .admin-content-first{
        margin-right: 225px;
        margin-top: -1px;
        margin-bottom: 15px; 
        padding-bottom: 5px;
    }

    .pending-update{
        margin-bottom: 2px;
    }


}


@media screen and (min-width: 700px){

    .admin-content-first {

        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .pending-update{
        margin-bottom: 2px;
    }

    /*.footer{
        margin-bottom: -20px;
    }*/
    
}

.form-control {
    margin: 10px;
    width: 200px;
}

.form-control-lg {
    margin: 10px;
    width: 200px;
}


