.left {
    float: left;
}

.right {
    float: right;
}

.tags {
    height: 33px;
}

.tags:empty::after {
    content: "No Tags";
}

.img {
    border: 5px solid blue;
    border-radius: 10px;
}

.detailsRow {
    display: table;
    width: 100%;
}

.detailsTitle {
    font-size: 1.1em;
}

.pill {
    color: white;
    border-radius: 5px;
    float: left;
    margin: 5px;
    background-color: dimgrey;
    cursor: pointer;
}

.delPill {
    display: none;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 10px;
    color: white;
    text-align: center;
    position: absolute;
    cursor: pointer;
}

    .delPill.shown {
        display: block;
    }

.pillText {
    padding: 2px 5px 2px 5px;
}

.dataType {
    background-color: darkblue;
    color: white;
    border-radius: 5px 0 0 5px;
    float: left;
}

.dataValue {
    color: white;
    float: left;
}

.btn {
    float: left;
    margin: 5px;
}

/* Autocomplete */
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* END Autocomplete */

/* Add new tag button and popup */
.addTag {
    background-color: darkcyan;
}

.tagger {
    position: absolute;
    border: 1px solid aliceblue;
    border-radius: 5px;
    padding: 5px 5px 1px 5px;
    background-color: darkcyan;
}

.tagName {
    margin-left: 5px;
}