/*     footer style sheet      */

.footer-main {
    background-color: white;
    position: absolute;
    bottom: -400px;
    margin-bottom: -0.8em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    position: absolute;
    bottom: -200px;
    width: 100%;
}



.footer-content-one {
    text-align: center;
    vertical-align: middle;
    padding: .5em;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (min-width: 700px){
    
        .all-footer-content{
            display:flex;
        justify-content: space-between;      
        }

.footer-content{
        /*width: calc(33.333333% - 0.5em);*/
        width: 100%;
    }
        

    
}

