/*     footer style sheet      */

.footer-main {
    background-color: white;
    /*    border-style: solid;*/
    /*padding: 1.2em;*/
    /*margin-bottom: -0.8em;
    margin-left: -0.5em;
    margin-right: -0.5em;*/

    position: absolute;
    bottom: -400px;
    width: 100%;
}



.footer-content-one {
    text-align: center;
    vertical-align: middle;
    padding: .5em;
    margin-left: auto;
    margin-right: auto;
}

 /*.footer-content-two{
     text-align: center;
         padding: .5em; 

}



.footer-content-three{
    text-align:center;
    padding: 0.5em; 
}*/0






@media screen and (min-width: 700px){
    
        .all-footer-content{
            display:flex;
        justify-content: space-between;      
        }

.footer-content{
        /*width: calc(33.333333% - 0.5em);*/
        width: 100%;
    }
        

    
}

