.card-back {
    position: fixed;
    height: 500px;
    width: 1000px;
    background-color: aliceblue;
}

.mini-image img {
    position: fixed;
    height: 250px;
    width: 250px;
    background-color: lightgrey;
    margin: 20px;
}

.ppname {
    padding-top: 20px;
    /*position: absolute;*/
    left: auto;
}

.card-body-sm {
    float: left;
    width: 300px;
    height: 380px;
    background-color: whitesmoke;
    overflow: hidden;
    margin: 10px;
}

@media only screen and (max-width: 1500px) {
    .card-body-sm {
        width: 180px;
        height: 240px;
    }

    .mini-image img {
        position: fixed;
        height: 100px;
        width: 100px;
        background-color: lightgrey;
        margin: 20px;
    }

    .card-sm-content {
        margin-top: 3px;
        margin-left: 1px;
    }

    .card-sm-content h3 {
        font-size: 15px
    }
}

.card-img-sm {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card-sm-content {
    margin-top: 5px;
    margin-left: 10px;
    overflow: hidden;
}

.card-sm-content h3 {
        font-size: 1.5em;
}

.circle {
    height: 15px;
    width: 15px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
}

.admin-buttons {
    position: relative;
    top: 140px;
    left: 600px;

}

.admin-buttons button {
        padding-left: 20px;
        padding-right: 20px;
        margin: 10px;
}
