@model photo_points.Controllers.AdminController
@addTagHelper *,Microsfot.AspNetCOre.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "WelcomeAdmin";
}


<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> TestLink</title>
</head>
<body>
    <div>
        testing link
    </div>
    <form>
        <a asp-controller="Home" asp-action="PhotoStream">Testing Photo Stream</a>
        @*@Html.ActionLink("Photo Stream", "PhotoStream")*@

    </form>
</body>
</html>