@model photo_points.Controllers.AdminController
@addTagHelper *,Microsfot.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Pending";
}


<h2>Pending Submission</h2>
<p><i>Submissions waiting administration approval</i></p>

<form asp-action="Pending" asp-controller="Admin">

    <!-- Card list goes here -->

    <div>
        <input type="submit" value="Pending" />
    </div>

    <div>
        <input type="search" value="Pending" />
    </div>

    <img src="~/images/blackberry-flower-4070045_640.jpg" />
    <img src="~/images/bleeding-hearts-55120_640.jpg" />


</form>

