@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<photo_points.Models.PhotoPoint>
@{
    ViewData["Title"] = "Welcome";
    Layout = "../Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../wwwroot/css/photo-card.css" />
<link rel="stylesheet" href="../wwwroot/css/body.css" />*@

<h2>PhotoStream</h2>

@*@foreach (photo_points.Models.PhotoPoint photoPoint in @Model) {*@

@for (var i = 0; i < 5; i++) {

<div class="container card-body-sm">
    <div class="row">
        <img class="card-img-sm" src="~/images/fern.jpg" />
    </div>
    <div class="row card-sm-content">
        <h3>Photopoint Name</h3>
        <div class="col-sm-10">
            <div class="row">
                <h6>Jan 15, 2013</h6>
            </div>

            <div class="row">
                <h6>User1</h6>
            </div>
        </div>
        <div class="col-sm-2">
            <span class="circle"></span>
        </div>
    </div>
</div>
}

@*}*@


<a asp-action="PhotoCard"
   asp-controller="Admin"></a>