@model photo_points.Controllers.AdminController
@addTagHelper *,Microsfot.AspNetCOre.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "PhotoStream";
}


<h2>Photo Stream</h2>
    <p><i>Card list goes here</i></p>
    <form asp-action="PhotoStream" asp-controller="Home">

    <div>
        <input type="submit" value="PhotoStream" />
    </div>
    <!-- Card list goes here -->
        <img src="~/images/blackberry-flower-4070045_640.jpg" />
        <img src="~/images/bleeding-hearts-55120_640.jpg" />
        <img src="~/images/buttercup-4207047_640.jpg" />



</form>

