@addTagHelper  *, Microsoft.AspNetCore.Mvc.TagHelpers;
@model photo_points.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "AdminLogin";
}

    <form asp-action="AdminLogin" method="post">
        <h2>Username</h2>
        <input asp-for="UserName" />
        <h2>Password</h2>
        <input asp-for="Password" />
        <input type ="submit" value="Login">
        @ViewBag.LoginIssue
    </form>