@model photo_points.Controllers.AdminController
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Collaborators";
}

<h2>Collaborators</h2>
<p><i>list of collaborators, possibly listed with associated tags</i></p>