@model photo_points.ViewModels.PendingViewModel;

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Pending";
}

<script type="text/javascript" src="~/js/captureStatusButtons.js"></script>

<h2>Pending Submission</h2>
<p><i>Submissions waiting administration approval</i></p>

<form asp-action="Pending" asp-controller="Admin">
    @await Html.PartialAsync("_CaptureCard", Model.PendingCaptures)
</form>

