@model photo_points.Controllers.AdminController
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "PhotoStream";
}


<h2>Photo Stream</h2>
<p><i>Card list goes here</i></p>
<form asp-action="PhotoStream" asp-controller="Home">

    <div>
        <input type="submit" value="PhotoStream" />
    </div>
    <!-- Card list goes here -->


</form>

