@model photo_points.ViewModels.SearchViewModel;

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "Pending";
}

<script type="text/javascript" src="~/js/captureStatusButtons.js"></script>

<h2>Results Not Found</h2>