@*@model photo_points.Controllers.AdminController*@
@model photo_points.ViewModels.SearchViewModel

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
   Layout = "_Layout";
   ViewBag.Title = "Search";
}

   <link rel="stylesheet" href="~/css/searchPhotos.css">

<h2>Search PhotoPoints</h2>
<form asp-action="SearchCaptures" asp-controller="Admin">
   <table class="searchFilters">
      <tr>
         <th>
            Search:
         </th>
         <th>
            @*Content:*@
         </th>
      </tr>
      <tr>
         <td>
            Photo Point ID:
         </td>
         <td>
            <input asp-for="photoPointId" />
         </td>
      </tr>
      <tr>
         <td>
            From Date:
         </td>
         <td>
            <input asp-for="fromDate" type="date" asp-format="{0:yyyy-MM-dd}"
/>
         </td>
      </tr>
      <tr>
         <td>
            To Date:
         </td>
         <td>
            <input asp-for="toDate" type="date" asp-format="{0:yyyy-MM-dd}"
/>
         </td>
      </tr>

      <tr>
         <td>
            Tag:
         </td>
         <td>
            <input asp-for="tagName" />
         </td>
      </tr>
      <tr>
         <td>
            Approval Type:
         </td>
         <td>
            <select asp-for="approval" asp-items="Html.GetEnumSelectList<photo_points.Models.Capture.ApprovalType
>()">
>
               <option selected="selected" disabled>Please select</option>

            </select>
         </td>
      </tr>
   </table>
   <div class="search-btn">
      <input type="submit" value="Search Results" />
   </div>
</form>
