@model photo_points.Controllers.AdminController
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "WelcomeAdmin";
}


<h2>Welcome</h2>
<p><i>Content for Administration.</i></p>
<p>You currently have [6] pending submission waiting for approval.</p>
