@*@{
        Layout = null;
        ViewData["Title"] = "newView";
    }*@

<!Doctype html>
<html>
<head>
</head>
    <body>
        <header>
            <h2>newView</h2>
        </header>
    </body>

</html>

