@model photopoints.Controllers.AdminController
@addTagHelper *,Microsfot.AspNetCOre.Mvc.TagHelpers

@{
    Layout = "_Layout";
}



<header class="banner">
    <div>
        <!--<h1>Welcome, &#91;Administrator&#93;</h1>-->
        <h1>Photo Stream</h1>
    </div>
</header>


<section class="content">

    <!-- this is an alert? that pops up when there are pending submissions.//or always there changing from red to green -->
    <section class="main-body">
        <p>adding fake content</p>
        <!-- Card list goes here -->

    </section>

</section>

