@model photo_points.Controllers.AdminController
@addTagHelper *,Microsfot.AspNetCOre.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = "WelcomeAdmin";
}



@*<section class="content">
        <section class="main-body">

            <div class="pending-update">
                <p><b>&#91;8&#93; pending submissions</b></p>

            </div>

            <div class="admin-content-first">
                <h2>Title</h2>
                <p><i>Content for Administration.</i></p>
            </div>

        </section>
    </section>*@

<h2>Welcome</h2>
<p><i>Content for Administration.</i></p>
<form asp-action="PhotoStream" asp-controller="Home">

    <div>
        <input type="submit" value="PhotoStream" />
    </div>
</form>