<!DOCTYPE>
<html lang="en-US">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Welcome Northcreek Forest Administrator</title>
    <meta name="description" content="Administration can access Northcreek Forest data." />

    <!--links to style sheets, and custom fonts-->
    <link rel="stylesheet" href="../../wwwroot/css/style.css" type="text/css" media="all">
    <!--
    <link rel="stylesheet" href="\..\..\wwwroot/css/typography.css" type="text/css" media="all">
    <link rel="stylesheet" href="\..\..\wwwroot/css/body.css" type="text/css" media="all">
    <link rel="stylesheet" href="\..\..\wwwroot/css/banner.css" type="text/css" media="all">
    <link rel="stylesheet" href="\..\..\wwwroot/css/footer.css" type="text/css" media="all">
        -->

    <!----- custom fonts-->
    <!-- link to external framework-->
    <!--link to internal framework folders//in event of internet failure-->
</head>
    
 <body>
     
    <section class="top-banner">
        <div class="logo">
           <!--logo will go here --> 
           <a href="WelcomeAdmin.html"><img src="../../wwwroot/images/fncf-rgb-horizontal-logo_1.jpg"/></a>
        </div>
        
        <div class="logout">
            <a href="logout.html">Log out</a>
        </div>
     </section>
     
     <header class="banner">
         <div>
            <h1>Welcome, &#91;Administrator&#93;</h1>
         </div>
     </header>
     
  
     <section class="content">
         
       <section class="admin-nav">         
            <nav class="menu-options">
                <article class="menu-one">
                    <div>
                        <li><a href="PhotoPoints.html">???</a></li>
                    </div>
                </article>
                
                 <article class="menu-two">
                    <div>
                        <li><a href="PendingPhotos.html">Pending Photos</a></li>
                    </div>                     
                </article>
                
                <article class="menu-one">
                    <div>
                        <li><a href="ViewData.html">View PhotoPoint Data</a></li>
                    </div>
                </article>                
            </nav>           
        </section>   
<!-- this is an alert? that pops up when there are pending submissions.//or always there changing from red to green -->
         <section class="main-body"> 
             
             <div class="pending-update">
<!--                <p><b>&#91;0&#93; pending submissions</b></p>-->
                <p><b>&#91;8&#93; pending submissions</b></p>

             </div>

             <div class="admin-content-first">
                <h2>Title</h2>
                <p><i>Content for Admin search results.</i></p>
             </div>  
             
        </section>
         
    </section>

<!--     footer-->
     <footer class="footer-main">  
         
         <section class="all-footer-content">
             
            <article class="footer-content">
                <div  class="footer-content-one">
                    <h3>Administration information:</h3>
                    <p>Contact administration </p>
                    <p>Phone: </p>
                    <p>Email: </p>
                    <p>For technical support call: .</p>
                </div>
            </article>
         
         <article class="footer-content">
             <div class="footer-content-two">
                 <p>              
                    <img src="../../wwwroot/images/Bothell-Kenmore-Chamber-logo-stacked.png" style="width: 100px; height: 100px"/> 
                </p>
            </div>
         </article>       
         
        <article class="footer-content">
             <div class="footer-content-three">
                    <h3>Friends of North Creek Forest Mission Statement:</h3>
                    <p>To maintain and improve ecological function of North Creek Forest through Education, Stewardship, and Conservation in perpetuity.</p>
                    <p>Friends of North Creek Forest is a 501(c)3 non-profit corporation. Donations of any amount are gratefully accepted and are tax deductible as allowed by law. EIN: 27-5439187.</p>
                </div>
            </article>
        </section>
         
     </footer>
  

</body>
</html> 