@model photopoints.Controllers.AdminController
@addTagHelper *,Microsfot.AspNetCOre.Mvc.TagHelpers
@{
    Layout = "_Layout";
}



<section class="content">


    <!-- this is an alert? that pops up when there are pending submissions.//or always there changing from red to green -->
    <section class="main-body">

        <div class="pending-update">
            <!--                <p><b>&#91;0&#93; pending submissions</b></p>-->
            <p><b>&#91;8&#93; pending submissions</b></p>

        </div>

        <div class="admin-content-first">
            <h2>Title</h2>
            <p><i>Content for Administration.</i></p>
        </div>



    </section>

</section>
