<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../../wwwroot/css/photo-card.css" />
    </head>
    
    <body>
        
        <div class="container card-back">
            <div class="row">
                <div class="col-sm-4">
                    <div class="mini-image"><img src="../../wwwroot/images/fern.jpg"></div>
                </div>
                <div class="col-md-6">
                    <h2 class="ppname">Photopoint Report Name</h2>
                    <h4>Submitted By: user1</h4>
                    <h4>Taken 4/30/2019</h4>
                    <h4>Fern</h4>
                    <h4>43C</h4>
                </div>       
            </div>
        </div>
    
    </body>


    
</html>