@page
@{
}

<div class="container card-back">
    <div class="row">
        <div class="col-sm-4">
            <div class="mini-image"><img src="../../wwwroot/images/fern.jpg"></div>
        </div>
        <div class="col-md-6">
            <h2 class="ppname">Photopoint Report Name</h2>
            <h4>Submitted By: user1</h4>
            <h4>Taken 4/30/2019</h4>
            <h4>Fern</h4>
            <h4>43C</h4>
            <h4>Other Data</h4>
            <h4>Tags</h4>
        </div>
    </div>
</div>