<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../wwwroot/css/photo-card.css" />
    <title></title>
</head>
    <body>
        <div class="container card-body-sm">
            <div class="row">
                <img class="card-img-sm" src="../../wwwroot/images/fern.jpg"/>
            </div>
            <div class="row card-sm-content">
                <h3>Photopoint Name</h3>
            </div>
        </div>
    </body>
</html>
