@page
@{
}

<div class="container card-body-sm">
    <div class="row">
        <img class="card-img-sm" src="../../wwwroot/images/fern.jpg" />
    </div>
    <div class="row card-sm-content">
        <h3>Photopoint Name</h3>
        <span class="circle"></span>
        <div class="col">
            <h6>Jan 15, 2013</h6>
            <h6>User1</h6>
        </div>
    </div>
</div>